<script type="text/x-handlebars" data-template-name="categories-and-latest-topics">
  <h2>Custom Category and Latest Topics Title</h2>
  {{#if categories}}
    {{#if isHomepage}}
      <!-- Your code for the homepage only -->
    {{else}}
      <!-- Rest of the default template if not on the homepage -->
    {{/if}}
  {{/if}}
</script>